In [49]:
import pandas as pd
import numpy as np
import warnings

In [50]:
warnings.filterwarnings('ignore')

In [51]:
df_train = pd.read_json("train.json")
df_test = pd.read_json("test.json")

In [52]:
df_train.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [53]:
df_test.head()

      id                                        ingredients
0  18009  [baking powder, eggs, all-purpose flour, raisi...
1  28583  [sugar, egg yolks, corn starch, cream of tarta...
2  41580  [sausage links, fennel bulb, fronds, olive oil...
3  29752  [meat cuts, file powder, smoked sausage, okra,...
4  35687  [ground black pepper, salt, sausage casings, l...

In [54]:
df_train.isnull().sum()

id             0
cuisine        0
ingredients    0
dtype: int64

In [55]:
df_test.isnull().sum()

id             0
ingredients    0
dtype: int64

In [56]:
df_train["cuisine"].unique()

array(['greek', 'southern_us', 'filipino', 'indian', 'jamaican',
       'spanish', 'italian', 'mexican', 'chinese', 'british', 'thai',
       'vietnamese', 'cajun_creole', 'brazilian', 'french', 'japanese',
       'irish', 'korean', 'moroccan', 'russian'], dtype=object)

In [57]:
def  counts(data,column):
    dcounts = {}
    m = data.shape[0]
    for i in range(m):
        for j in data[column][i]:
            if j in dcounts.keys():
                dcounts[j] += 1
            else:
                dcounts[j] = 1
    print(len(dcounts))
    return dcounts

In [58]:
train_ingr_count = counts(df_train,"ingredients")
test_ingr_count = counts(df_test,"ingredients")

6714
4484

In [59]:
train_ingr_missing = []

for i in test_ingr_count.keys():
    if i not in train_ingr_count.keys():
        train_ingr_missing.append(i)
        
print(len(train_ingr_missing))

for i in train_ingr_missing:
    train_ingr_count[i] = 0

print(len(train_ingr_count))

423
7137

In [60]:
test_ingr_missing = []

for i in train_ingr_count.keys():
    if i not in test_ingr_count.keys():
        test_ingr_missing.append(i)
        
print(len(test_ingr_missing))

for i in test_ingr_missing:
    test_ingr_count[i] = 0

print(len(test_ingr_count))

2653
7137

In [61]:
for i in train_ingr_count.keys():
    df_train[i] = np.zeros(len(df_train))

In [62]:
df_train.head()

,id,cuisine,ingredients,romaine lettuce,black olives,grape tomatoes,garlic,pepper,purple onion,seasoning,...,bitter orange juice,Franks Wings Sauce,dried ziti,frozen peeled prawns,lovage,cooking greens,fraise,soft cheese,pork strips,shark fillets
0,10259,greek,"[romaine lettuce, black olives, grape tomatoes...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,25693,southern_us,"[plain flour, ground pepper, salt, tomatoes, g...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20130,filipino,"[eggs, pepper, salt, mayonaise, cooking oil, g...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22213,indian,"[water, vegetable oil, wheat, salt]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13162,indian,"[black pepper, shallots, cornflour, cayenne pe...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
for i in range(len(df_train)):
    for j in df_train['ingredients'][i]:
        df_train[j].iloc[i] = 1

In [64]:
for i in test_ingr_count.keys():
    df_test[i] = np.zeros(len(df_test))

In [65]:
df_test.head()

,id,ingredients,baking powder,eggs,all-purpose flour,raisins,milk,white sugar,sugar,egg yolks,...,Daiya,curry mix,Kraft Slim Cut Mozzarella Cheese Slices,Oscar Mayer Cotto Salami,Challenge Butter,cholesterol free egg substitute,Lipton® Iced Tea Brew Family Size Tea Bags,Hidden Valley® Greek Yogurt Original Ranch® Dip Mix,tomato garlic pasta sauce,crushed cheese crackers
0,18009,"[baking powder, eggs, all-purpose flour, raisi...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,28583,"[sugar, egg yolks, corn starch, cream of tarta...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,41580,"[sausage links, fennel bulb, fronds, olive oil...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,29752,"[meat cuts, file powder, smoked sausage, okra,...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35687,"[ground black pepper, salt, sausage casings, l...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
for i in range(len(df_test)):
    for j in df_test['ingredients'][i]:
        df_test[j].iloc[i] = 1

In [67]:
test_id = df_test["id"]

In [68]:
df_train = df_train.drop(["ingredients","id"],axis ="columns")
df_test = df_test.drop(["ingredients","id"], axis = "columns")

In [69]:
X = df_train[df_train.columns.difference(["cuisine"])]
y = df_train["cuisine"]

In [71]:
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val=train_test_split(X,y,random_state=0)

In [72]:
print(X_train.shape,y_train.shape)
print(X_val.shape,y_val.shape)

(29830, 7137) (29830,)
(9944, 7137) (9944,)

In [73]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(multi_class = 'multinomial')
logreg = logreg.fit(X_train,y_train)

In [74]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_val, logreg.predict(X_val)))

Accuracy: 0.7790627514078842

In [75]:
df_test["cuisine"] =logreg.predict(df_test)

In [76]:
submission = df_test
submission["id"] = test_id

In [77]:
submission = submission[["id","cuisine"]]

In [78]:
submission

         id  cuisine
0     18009  italian
1     28583   french
2     41580  italian
3     29752  mexican
4     35687  italian
...     ...      ...
9939  30246   french
9940  36028  italian
9941  22339  italian
9942  42525   french
9943   1443   french

[9944 rows x 2 columns]

In [80]:
submission.to_csv("submission", index = False)